nav .logo {
	top: -16px;
}

ul.menu li {
	top: 0;
}

.text-white.large-h2 > p {
	font-size: 30px;
	line-height: 1.1;
}

p > .btn-default {
	color: #FFF !important;
}

p > .btn:hover {
	color: #FFF !important;
}

.hero-slider-mini .slides li {
	height: 250px;
}

footer.classic{
  background:#e3e3e3 !important;
}
.board-profiles .row {
  margin-top:30px;
  
}
.board-profiles .row .board-profile{
 
  margin:0px;
}
p, body{
  font-size:16px;
}
section.shoutout{
  vertical-align:middle;
  background-color:#e3e3e3;
  padding-top:20px;
  padding-bottom:20px;
  
}
.shoutout-copy {
   margin-top:25px;
}

.btn{
  padding-left:15px;
  padding-right:15px;
  
}