nav .logo {
	top: -16px;
}

ul.menu li {
	top: 0;
}

.text-white.large-h2 > p {
	font-size: 30px;
	line-height: 1.1;
}

p > .btn-default {
	color: #FFF !important;
}

p > .btn:hover {
	color: #FFF !important;
}

.hero-slider-mini .slides li {
	height: 250px;
}

footer.classic{
  background:#e3e3e3 !important;
}
.board-profiles div{
  margin-top:30px;
}